body {
    margin: 0 auto;
    font: 11px Arial;
    height: 100%;
    _font: 11px 'HelveticaNeue-Light', helvetica, lucida, arial, sans-serif !important; 
    background-color: #DEEDF7;
}

#frm_header{
	border-bottom: solid #00549F 2px;
}

.salir,.salir:VISITED {
    padding: 0 0 0 20px;
    background: transparent url(../resources/images/salir.png) no-repeat left
        center;
    color: #FF0000;
    content: "";
    text-decoration: none;
    cursor: pointer;
}

.usuario {
    padding: 0 0 0 20px;
    background: transparent url(../resources/images/user.png) no-repeat left center;
}

.perfil {
    padding: 0 0 0 20px;
    background: transparent url(../resources/images/vcard.png) no-repeat left center;
}

#titulo{
	color:#FFB612;
    font-size: 23px;
    font-weight: bold;
    padding: 4px;
}

.color_white{
	color: white;
	float: right;
	font-weight: bold;
	padding: 17px;
	font-size: 11px;
	text-align: right;
}

#cabeza,#cabeza div{
	border: none;
	background-color: #DEEDF7;
	border-radius: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#bck_cabecera{
	background: #00549F url("../resources/images/header.jpg") no-repeat center top;
	height: 62px;
	width: 100%;
}

#info{
	background-color: #DEEDF7;
	color: #5a5a5a;
	text-decoration: none;
	font-weight: bold;
}
#info ul{
  list-style-type: none;
  height: auto;
  float: right;
  padding: 3px;
}
#info li{
   display: inline;
   text-align: center;
	margin: 1px;
}

.bordeinf{
	border-bottom: 2px;
	border-bottom-color: #FFB612;
	border-bottom-style: solid;
}
.margen{
	margin-top: 10px;
	margin-bottom: 10px;
}

.ancho{
	width: auto;
}

.negrita{
	font-weight: bold;
}

.espacio_comp{
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.sin_borde{
	border: none;
}
